@charset "UTF-8";

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;

}
@font-face {
    font-family: 'droid' ;
    src: url('pacote-projeto-d010/fontes/idroid.otf');
}
@font-face {
    font-family: 'bebasneue' ;
    src: url('fontes/BebasNeue-Regular.otf');
}
body {
    background-color: #82D9A0;
}
a.externo::after {
    content: '\00A0\1F517';
}


header {
    min-height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, #41D976, #1B5936);
    box-shadow: 2px 2px 10px 1px black;
    padding-top: 30px;
    padding-bottom: 0px;
}
header > h1 {
    font-family: 'bebasneue';
    font-weight: 100;
    color: white;
    margin: 0px 0px 20px 10px;
    text-shadow: 1px 1px 2px  black;
    font-size: 2.8em ;

}
header > p {
    text-align: center;
    color: rgba(255, 255, 255, 0.438);
    font-weight: lighter;
    max-width: 600px;
    margin: auto;
    padding: 0px 10px 0px 10px;
}
nav > a {
    text-decoration: none;
    text-align: left;
    color: white;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    transition-duration: 0.5s;
     
    
}
nav {
    padding: 10px;
    background-color: #1B5936;
    min-width: 600px;

}
nav > a:hover {
    color: #1B5936;
    background-color: #41D976;
    border-radius: 8px;
   
}
main {
    background-color: white;   
    max-width: 900px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
}
section > h1 {
    font-family: 'droid';
    font-size: 2.3em;
    text-align: left;
    padding: 30px 20px 15px 40px;
    color: #1B5936;

}
article > p {
    text-align: justify;
    text-indent: 1em;
    width: 90%;
    margin: 10px 10px 10px 20px;
    line-height: 1.7em;
}
article > p > a {
    color: #1B5936;
    text-decoration: none;
    font-weight: bold;
    background-color: #82D9A0;
}
section > h2 {
    background-image: linear-gradient(to right, #82d9a071, white  );
    border: 10px 10px 10px 30px;
    font-family: 'droid';
    color: #1B5936;
    text-align: left; 
    font-size: 1.9em;
    margin: 20px 10px 20px 30px

}
img {
    width: 100%;
}
.Android {
    
   
    
}
.irina {
    
}
.bugdroid {
  max-width: 50%;
  display: block;
  margin: auto;
}
.video {
    margin: auto;
    background-color: #1B5936;
    width: 100%;
    height: 400px;
    text-align: center;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.529);
    
    
}
iframe {
    box-shadow: 2px 2px 19px 1px black;
    margin: 10px 10px 10px 10px;
    width: 90%;
    height: 95%;
}
aside {
    background-color: #82D9A0;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.419);
}
aside a {
    text-decoration: none;
    background-color: #41D976;
    color: #1B5936;
    font-weight: bold;
}
aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';

}
aside > h3 {
    background-color: #1B5936;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    
}
aside > p {
    padding: 10px;
}

footer {
    background-color: #1B5936;
    text-align: center;
    padding: 10px;
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}
footer a:hover {
    text-decoration: underline;
    color: #82D9A0;
}
